.block-ding-user-frontend-ding-user-loan-number,
.block-system-user-menu.even {
  top: 30px;
}

.block-system-user-menu {
  top: 112px;
}

#region-header-second {
  margin-top: 10px;
}

#block-menu-menu-secondary-menu {
  float: inherit;
}

.block-search-form .form-radios {
  overflow: hidden;
  position: static;
}

.node-type-ding-event .content-event-day .pane-content,
.node-type-ding-event .content-event-month {
  border-color: #79726a;
}

.block-main-menu .content ul li ul {
  background-color: #fff;
}

.zone-branding {
  position: relative;
}

.grid-4.region-branding {
  left: 0;
  padding-top: 40px;
  position: absolute;
  z-index: 40;
}

.region-user-second-inner {
  position: relative;
}

.region-user-second {
  padding-top: 151px;
}

.block-ding-user-frontend-ding-user-loan-number,
.block-system-user-menu.even {
  top: 30px;
}

.block-system-user-menu {
  top: 112px;
}

.block-user-login .block-inner .content {
  top: 30px;
}

#block-menu-menu-secondary-menu .menu li.last {
  float: right;
}

.responsive-layout-narrow .region-user-second {
  padding-top: 95px;
}

.logo-img {
  float: none;
}

.logo-img img {
  height: auto;
  width: 100%;
}

.node-type-ding-event .content-event-month,
.node-type-ding-event .content-event-day .pane-content {
  font-family: Verdana, Arial, sans-serif;
}

.node-type-ding-event .content-event-day .pane-content {
  font-weight: bold;
}

.block-main-menu .content ul li ul {
  top: 27px;
}

#region-user-second {
  bottom: 70px;
  position: absolute;
  right: 0;
}

#region-user-first {
  bottom: 10px;
  position: absolute;
  right: 0;
}
