.block-ding-user-frontend-ding-user-loan-number,
.block-system-user-menu {
  width: 380px;
}

.block-search-form form .extendsearch-advanced .fieldset-wrapper {
  width: 354px;
}

.block-main-menu .content > ul > li {
  min-width: 193px;
}

.block-search-form .form-radios {
  width: 380px;
}

.region-user-second {
  padding-top: 200px;
}

input#edit-search-block-form--2.spinner {
  background-position: 85% 5px;
}
