body,
.edit-user-profile input,
#edit-account .form-text,
.page-user #user-login input[type="text"],
.page-user #user-login input[type="password"],
.pane-ting-object-voxb-tags form .form-text {
  background-color: #a39e8f;
}

body {
  font-size: 12px;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, Arial, sans-serif;
}

.logo-img a {
  display: block;
}

.block-ding-user-frontend-ding-username h2.block-title {
  font-size: 12px;
  padding: 8px 0 0 25px;
  height: 23px;
  min-height: inherit;
}

#block-locale-language,
span.ext,
.ding_nodelist-carousel .ding_nodelist-items .item .event-label,
.ding_nodelist-single .ding_nodelist-items .item .event-label {
  display: none;
}

/* BG colors */
.block-system-user-menu,
.block-ding-user-frontend-ding-username,
.block-user-login,
.block-user-login .block-inner .content,
.block-user-login form .form-submit:hover,
.block-ding-user-frontend-ding-user-loan-number,
#block-menu-menu-secondary-menu,
.ui-tabs-nav,
.no-js .block-ding-user-frontend-ding-username .block-inner > .content,
.no-js .block-search-form {
  background-color: #161107;
}

.block-search-form,
.no-js .block-search-form form .extendsearch-advanced .fieldset-wrapper,
.block-main-menu .content {
  background-color: transparent;
}

.block-search-form form .ui-autocomplete-input,
.no-js .block-search-form form .form-item input[type="text"],
.block-search-form form input[name="search_block_form"],
.not-logged-in.page-user .region-content-inner {
  background-color: #fff;
}

.block-search-form form .extendsearch-advanced input[type="text"],
ul.ui-autocomplete li .ui-state-hover,
ul.ui-autocomplete li .ui-state-active,
ul.ui-autocomplete li .ui-corner-all:hover,
ul.ui-autocomplete,
ul.ui-autocomplete li.ui-menu-item:hover {
  background-color: #ccc;
}

.block-search-form form .extendsearch-advanced input[type="text"]:active,
.block-search-form form .extendsearch-advanced input[type="text"]:focus {
  background-color: #c0c0c0;
}

.block-main-menu .content > ul li ul li {
  background: none !important;
}

.block-ding-library-library-address,
.block-ding-library-library-address a:link,
.block-ding-library-library-address a:visited,
.block-ding-library-library-address a:hover {
  background-color: #78746a;
}

.page-ting-object .field-type-ting-subjects .subject,
.page-ting-collection .field-type-ting-subjects .subject,
.pane-search-result .ding-format-long .field-type-ting-subjects .subject,
.ui-dialog,
.pane-ting-object-voxb-tags .tag a {
  background-color: #79726a;
}

.pane-category-menu-fold .item-list > ul > li > a.active,
.page-user .user-page-tabs ul.primary > li.active > a,
.node-type-ding-event .event-short-info .views-field-field-event-date
.field-content, .node-type-ding-event .event-short-info .views-field-field-event-fee,
.node-type-ding-event .event-short-info .views-field-group-audience a,
.node-type-ding-event .event-short-info .views-field-field-event-fee,
.ding_nodelist-single .ding_nodelist-items .category a,
.ding_nodelist-horizontal_accordion .ding_nodelist-items .item .label,
.ding_nodelist-carousel .ding_nodelist-items .item .event-label,
.ding_nodelist-single .ding_nodelist-items .item .event-label,
.ding_nodelist-carousel .ding_nodelist-items .category a,
.node-type-ding-news .news-short-info .views-field-field-editorial-base-n a,
.node-type-ding-event .content-event-day .pane-title,
.ting-search-carousel .search-controller li.active a,
.ui-tabs-nav li.active,
.pane-ding-facetbrowser .form-wrapper legend.active span,
.search-results-tabs ul.primary li.active a.active,
.pane-page-tabs.search-results-tabs ul.primary li a.active:hover,
.pane-search-result .ding-format-long .field-type-ting-subjects .subject:hover,
.pane-search-result .ding-format-long .field-type-ting-subjects .active,
.page-ting-object .field-type-ting-subjects .subject:hover,
.page-ting-collection .field-type-ting-subjects .subject:hover,
.pane-category-menu ul li a.active,
.pane-system-main-menu ul li a.active,
.pane-ding-library-ding-sidebar-menu ul li a.active,
.responsive-layout-mobile .sidebar-menu-expand,
.page-ting.responsive-layout-mobile .field-type-ding-entity-buttons .ding-entity-button a,
.page-ting-collection.responsive-layout-mobile .field-type-ding-entity-buttons .reservation-link-ajax a,
.page-ting-object.responsive-layout-mobile .field-type-ding-entity-buttons input,
.responsive-layout-mobile .field-type-ding-entity-buttons .form-actions input,
.responsive-layout-mobile .field-type-ding-entity-buttons .reservation-link-ajax a,
.responsive-layout-mobile .field-type-ding-entity-buttons .bookmark-link-ajax a,
.responsive-layout-mobile .field-type-ding-entity-buttons .ding-entity-button a,
.page-ting.responsive-layout-mobile .sfx-link a,
.page-search.responsive-layout-mobile .sfx-link a,
.page-taxonomy-term.responsive-layout-mobile .node-links ul li a,
.page-taxonomy-term.responsive-layout-mobile .comment-links ul li a,
.page-taxonomy-term.responsive-layout-mobile .view-taxonomy-term .item-list .pager a,
.page-search-node.responsive-layout-mobile .pane-ding-node-search .item-list .pager a,
.page-taxonomy-term.responsive-layout-mobile .view-taxonomy-term .item-list .pager-current,
.responsive-layout-mobile .search-results-tabs ul.primary li a,
.responsive-layout-mobile .search-results-tabs ul.primary li a:hover,
.page-search-ting.responsive-layout-mobile .pane-ting-search-records-per-page .pane-content a,
.responsive-layout-mobile .secondary-tabs ul.secondary li a,
.responsive-layout-mobile .pane-loans .operations .renew-loan-button input,
.responsive-layout-mobile .edit-user-profile .form-submit,
.responsive-layout-mobile .pane-bookmarks .ding-entity-button a,
.page-search-ting.responsive-layout-mobile .item-list .pager a,
.page-search-ting.responsive-layout-mobile .item-list .pager-current,
.page-taxonomy-termv .view-taxonomy-term .item-list .pager-current,
.page-search-node.responsive-layout-mobile .pane-ding-node-search .item-list .pager-current,
.page-search-meta.responsive-layout-mobile .mkdru-pager a,
.page-search-meta.responsive-layout-mobile .mkdru-pager span,
.responsive-layout-mobile .ding_nodelist-slider .item .more a,
.responsive-layout-mobile .reservation-link-ajax a:link,
.responsive-layout-mobile .reservation-link-ajax a:visited,
.responsive-layout-mobile .ding_nodelist-single .ding_nodelist-items .more a,
.responsive-layout-mobile .ding_nodelist-carousel .ding_nodelist-items .more a,
.pane-page-tabs ul.primary li.active a,
.secondary-tabs ul.secondary a.active,
.pane-reservations .op-reservations,
.pane-bookmarks .form-actions,
.pane-loans .renew-loan-button,
.responsive-layout-mobile .pane-reservations .op-reservations .delete-reservations,
.responsive-layout-mobile .pane-reservations .op-reservations .update-reservations,
.pane-ting-object-voxb-tags .tag a:hover,
.pane-system-main-menu ul li.expanded a,
.pane-ding-library-ding-sidebar-menu ul li.expanded a,
.pane-menu-tree ul li.expanded a,
.pane-ding-related-items .pane-title,
.responsive-layout-mobile .pane-emailkanon-emailkanon-subscribe-block .form-submit,
.node-type-ding-event .event-short-info .views-field-group-audience .field-content {
  background-color: #ff6c00;
}

.pane-category-menu-fold .item-list > ul > li > a,
.page-user .user-page-tabs ul.primary > li > a,
.pane-system-main-menu ul li a,
.pane-category-menu ul li a,
.pane-ding-library-opening-hours-ding-library-opened-today,
.pane-ding-library-opening-hours-ding-library-opening-hours,
.pane-opening-hours-week,
.pane-ding-facetbrowser .form-wrapper legend span,
.pane-ding-toggle-format-toggle .pane-content,
.page-ting-object .pane-ting-ting-object-types .item-list a,
.page-ting-object .pane-ting-ting-relation-anchors .item-list a,
.page-ting-collection .pane-ting-ting-collection-types .item-list a,
.page-ting-collection .pane-ting-ting-relation-anchors .item-list a,
.page-ting-object .grid-3 .pane-ting-object-ding-availability-holdings .holdings,
.page-search-meta .search-results-tabs,
.page-search-node .search-results-tabs,
.block-main-menu .main-menu-expand,
.responsive-layout-mobile .sidebar-menu-expand,
.secondary-menu-expand,
.user-menu-expand,
.responsive-layout-mobile .region-header-second-inner,
.pane-page-tabs ul.primary a,
.page-user .pane-page-tabs.secondary-tabs,
.pane-page-tabs ul.primary a:hover,
.pane-page-tabs ul.primary li a:hover,
.pane-aggregator-feed,
.pane-page-tabs ul.primary a,
.pane-parent-vocabulary-terms .views-row a,
.pane-parent-vocabulary-terms .views-row .active,
.pane-ding-library-ding-sidebar-menu .pane-content ul li a {
  background-color: #151106;
}

.block-main-menu .content > ul > li:first-child,
.pane-ding-library-ding-sidebar-menu.main-menu-600 ul li a,
.block-main-menu .content > ul > li:first-child.active > a {
  background-color: #a94598;
}

.block-main-menu .content > ul > li:first-child + li,
.pane-ding-library-ding-sidebar-menu.main-menu-606 ul li a,
.block-main-menu .content  > ul > li:first-child + li.active > a {
  background-color: #178498;
}

.block-main-menu .content > ul > li:first-child + li + li,
.pane-ding-library-ding-sidebar-menu.main-menu-652 ul li a,
.block-main-menu .content  > ul > li:first-child + li + li.active > a {
  background-color: #85a0c3;
}

.block-main-menu .content > ul > li:first-child + li + li + li,
.pane-ding-library-ding-sidebar-menu.main-menu-612 ul li a,
.block-main-menu .content  > ul > li:first-child + li + li + li.active > a {
  background-color: #c3bf2c;
}

/* BG images */
.block-ding-user-frontend-ding-username h2,
.block-user-login .block-title {
  background-position: 11px 10px;
}

.block-search-form form .extendsearch-advanced span.fieldset-legend {
  background-position: 7px 6px;
}

.ding_nodelist-carousel .pagination .selected,
.ding_nodelist-carousel .next-prev .prev,
.ding_nodelist-carousel .next-prev .next,
.ding_nodelist-horizontal_accordion .ding_nodelist-items .expand a,
.secondary-tabs ul.secondary li.active,
.ting-search-carousel .rs-carousel-action-next,
.ting-search-carousel .rs-carousel-action-prev,
.pane-opening-hours-week .prev,
.pane-opening-hours-week .next {
  background-image: url(../images/arrows-sprite.png);
}

.ding_nodelist-slider .next,
.ding_nodelist-slider .prev,
.more-info {
  background-image: url(../images/vert-slider-sprite.png);
}

.ui-tabs-nav li.active a {
  background-image: url(../images/carousel-arrow.png);
}

.block-main-menu .content ul li.active .menu-arrow {
  background-image: url(../images/active-menu-arrow.png);
}

.search-results-tabs ul.primary li.active {
  background-image: url(../images/tab-bottom-arrow.png);
}

.block-ding-user-frontend-ding-username h2,
.block-user-login .block-title,
.pane-aggregator-feed li {
  background-image: url(../images/white-menu-arrow.png);
}

.user-menu-expand {
  background-image: url(../images/user-icon.png);
}

.secondary-menu-expand {
  background-image: url(../images/secondary-menu-icon.png);
}

.responsive-layout-mobile .ding_nodelist-carousel .pagination .selected,
.responsive-layout-mobile .ding_nodelist-carousel .next-prev .prev,
.responsive-layout-mobile .ding_nodelist-carousel .next-prev .next,
.responsive-layout-mobile .ding_nodelist-horizontal_accordion .ding_nodelist-items .expand a,
.responsive-layout-mobile .ting-search-carousel .rs-carousel-action-next,
.responsive-layout-mobile .ting-search-carousel .rs-carousel-action-prev,
.responsive-layout-mobile .browsebar-inner .more-info {
  background-image: url(../images/arrows-sprite-mobile.png);
}

.responsive-layout-mobile .pane-ding-toggle-format-toggle .pane-content a {
  background-image: url(../images/toggle-icon-mobile.png);
}

.pane-ding-toggle-format-toggle .pane-content a {
  background-image: url(../images/grid-icons.png);
}

.pane-ding-facetbrowser label a,
.page-ting-object .relations .fieldset-title,
.page-ting-object .expanded .expand-relations,
.page-ting-object .expanded-properties,
.pane-ting-object-ting-relations .ting-relation .expanded,
.pane-node-comments .expanded-comment-arrow,
.page-search-meta .pane-ding-facetbrowser .option,
.page-ting-object .group-content .field-group-format-title {
  background-image: url(../images/checkbox-sprite.png);
}

/* Text colors */
.block-ding-user-frontend-ding-username h2 span,
.block-ding-user-frontend-ding-username h2,
.block-user-login .block-title,
.block-user-login form .form-submit,
#edit-search-provider .form-item-search-provider label.option,
.block-main-menu .content > ul > li > a:hover,
.pane-ding-library-opening-hours-ding-library-opened-today h2,
.pane-ding-library-opening-hours-ding-library-opening-hours h2,
.pane-opening-hours-week h2,
.pane-aggregator-feed .pane-title,
.opening-hours-week .header,
.pane-ding-library-opening-hours-ding-library-opened-today .name,
.pane-ding-library-opening-hours-ding-library-opening-hours .day-name,
.pane-opening-hours-week .name,
.pane-aggregator-feed li a,
.pane-ding-library-opening-hours-ding-library-opened-today .hours,
.pane-ding-library-opening-hours-ding-library-opening-hours .hours,
.pane-opening-hours-week .times, .pane-aggregator-feed .more-link,
.page-ting-object .pane-ting-object-ding-availability-holdings h2,
.page-ting-object .pane-ting-object-ding-availability-holdings table th,
.responsive-layout-mobile #block-menu-menu-secondary-menu .menu li a,
.responsive-layout-mobile #block-locale-language ul.language-switcher-locale-url li a,
.pane-aggregator-feed .more-link a,
.pane-ding-library-opening-hours-ding-library-opened-today .name a:link,
.pane-ding-library-opening-hours-ding-library-opened-today .name a:visited,
.no-js .block-search-form form .extendsearch-advanced .fieldset-wrapper label,
.no-js .block-search-form label.element-invisible {
  color: #fff;
}

.block-ding-user-frontend-ding-user-loan-number > .block-inner > .content a:link,
.block-ding-user-frontend-ding-user-loan-number > .block-inner > .content a:hover,
.block-ding-user-frontend-ding-user-loan-number > .block-inner > .content a:visited,
.breadcrumb a:link,
.breadcrumb a:visited,
.breadcrumb a:hover,
.block-main-menu .content ul li ul.menu li a,
.block-main-menu .content ul li ul.menu li a:hover,
.ui-widget .form-submit,
.page-taxonomy-term .pane-taxonomy-term .term-title,
.ding_nodelist-taxonomy h2.ding_nodelist-title {
  color: #161107;
}

.pane-category-menu-fold .more-link a,
.page-user .user-page-tabs ul.primary > li.active a + ul a,
.block-search-form form .form-actions input,
footer .block-menu li a:link,
footer .block-menu li a:visited,
footer .block-menu li a:hover,
.block-system-user-menu ul li a:link,
.block-system-user-menu ul li a:hover,
.block-system-user-menu ul li a:visited,
a:link,
a:visited,
a:hover,
.ding_nodelist-single .ding_nodelist-items .more a,
.browsebar-inner .properties-wrapper .genre a,
.browsebar-inner .properties-wrapper .reviews,
.browsebar-inner .active-more-info,
.ting-search-carousel .ting-search-results .info,
.ting-search-carousel .ting-search-results .info span,
.ding_nodelist-taxonomy .item-details .item-title a,
.ding_nodelist-taxonomy .item-details .item-author,
.reservation-link-ajax a:link,
.reservation-link-ajax a:visited,
.ding_nodelist-slider .item .more a,
.page-libraries .pane-ding-library .title,
.page-libraries .pane-ding-library .title a,
.node-type-ding-library .library-teaser .title,
.node-type-ding-library .library-teaser .title a,
.pane-search-result .search-result .field-type-ting-author a,
.page-search-ting .item-list .pager-next a,
.page-search-ting .item-list .pager-last a,
.page-search-ting .item-list .pager-previous a,
.page-search-ting .item-list .pager-first a,
.page-aggregator .item-list .pager-next a,
.page-aggregator .item-list .pager-last a,
.page-aggregator .item-list .pager-previous a,
.page-aggregator .item-list .pager-first a,
.page-search-ting .item-list .pager-current,
.pane-ding-facetbrowser label a,
.pane-ding-facetbrowser label a:hover,
.pane-ding-facetbrowser .expand,
.field-type-ding-entity-buttons .form-actions input,
.field-type-ding-entity-buttons .reservation-link-ajax a,
.field-type-ding-entity-buttons .bookmark-link-ajax a,
.field-type-ding-entity-buttons .ding-entity-button a,
.page-search-node .node-title a,
.page-taxonomy-term .view-taxonomy-term .item-list .pager-next a,
.page-taxonomy-term .view-taxonomy-term .item-list .pager-last a,
.page-taxonomy-term .view-taxonomy-term .item-list .pager-previous a,
.page-taxonomy-term .view-taxonomy-term .item-list .pager-first a,
.page-search-node .pane-ding-node-search .item-list .pager-next a,
.page-search-node .pane-ding-node-search .item-list .pager-last a,
.page-search-node .pane-ding-node-search .item-list .pager-previous a,
.page-search-node .pane-ding-node-search .item-list .pager-first a,
.page-taxonomy-term .view-taxonomy-term .item-list .pager-current,
.page-search-node .pane-ding-node-search .item-list .pager-current,
.page-taxonomy-term .node-title a,
.page-taxonomy-term .node-links ul li a,
.page-taxonomy-term .comment-links ul li a,
.pane-node-comment-form .form-actions input,
.pane-node-comments .add-comment-button,
.pane-node-comments .comment-links li,
.pane-node-comments .comment-links li a,
.pane-loans .operations .renew-loan-button input,
.edit-user-profile .form-submit,
.block-main-menu .content ul li ul.menu li.active a,
.node-type-ding-page .pane-node-author a,
.pane-system-main-menu ul li.expanded ul li a,
.pane-ding-library-ding-sidebar-menu ul li.expanded ul li a,
.page-user-login .region-content-inner .form-submit,
.ding_nodelist-slider .legend span a,
.pane-ting-object-voxb-tags form .form-submit,
.pane-ting-object-ting-reference-reverse .node-title a,
.pane-emailkanon-emailkanon-subscribe-block .form-submit {
  color: #cc5f0a;
}

.ting-search-carousel .ting-search-results .subtitle,
.ding_nodelist-slider .legend h2,
.page-taxonomy-term .pane-taxonomy-term .pane-title {
  color: #201a03;
}

.pane-ting-object-voxb-tags form .form-text {
  color: #000;
}

/* Border colors */
.block-user-login input[type="text"]:focus,
.block-user-login input[type="password"]:focus,
.block-search-form form .ui-autocomplete-input:focus,
ul.ui-autocomplete,
.block-search-form form .extendsearch-advanced input[type="text"]:active,
.block-search-form form .extendsearch-advanced input[type="text"]:focus,
.block-search-form form input[name="search_block_form"]:active,
.block-search-form form input[name="search_block_form"]:focus,
ul.ui-autocomplete li.ui-menu-item:hover {
  border-color: #ccc;
}

.node-type-ding-event .content-event-day .pane-content,
.node-type-ding-event .content-event-month {
  border-color: #79726a;
}

.pane-reservations table tr.even,
.pane-reservations table tr.odd,
.pane-reservations table tbody th,
.pane-loans table tr.even,
.pane-loans table tr.odd,
.pane-loans table tbody th,
.pane-debts table tr.even,
.pane-debts table tr.odd,
.pane-debts table tbody th {
  border-color: #a39e8f !important;
}

.edit-user-profile .form-submit {
  border: none;
}

.pane-ding-library-ding-sidebar-menu .pane-content > ul > li > a.active {
  border-bottom: 2px solid #161107;
}

/* Font styles */
.block-search-form form .form-actions input {
  font: 14px 'Soho Gothic W01 Bold', Helvetica, Arial, sans-serif;
  text-align: left;
}

#edit-search-provider .form-item-search-provider label.option {
  font-size: 11px;
}

#block-menu-menu-secondary-menu .menu li,
#block-locale-language ul.language-switcher-locale-url l,
.block-main-menu > div > .content {
  font: 12px 'Soho Gothic W01 Bold', Helvetica, Arial, sans-serif;
  letter-spacing: .05px;
}

.breadcrumb a:link,
.breadcrumb a:visited,
.breadcrumb a:hover {
  text-decoration: none;
}

/* Padding and margins */
.region.region-user-second {
  margin-bottom: 0;
}

.block-user-login,
.block-ding-user-frontend {
  min-height: 47px;
}

.block-main-menu .content ul li.active .menu-arrow {
  background-position: 12px 0;
  border-top: 2px solid #151106;
  left: 0;
  bottom: 0;
  width: 100%;
}

.block-ding-user-frontend-ding-username h2,
.block-user-login .block-title {
  height: 31px;
  line-height: 31px;
  padding-top: 0;
}

.block-search-form {
  padding: 0;
}

.block-search-form > .block-inner {
  padding-right: 98px;
}

#search-block-form {
  vertical-align: baseline;
}

.block-search-form form input[type="text"],
.block-search-form form .form-actions input[type="submit"] {
  height: 47px;
}

.block-search-form form .form-actions input {
  height: 29px;
  line-height: 29px;
  padding: 0 0 0 10px;
  right: -98px;
  top: 0;
  width: 94px;
}

.region-branding {
  bottom: 0;
}

.block-search-form form .extendsearch-advanced .fieldset-wrapper {
  left: 0;
  padding: 10px 13px 0 13px;
}

.block-search-form .form-item-search-provider {
  width: 33% !important;
}

#edit-search-provider .form-item-search-provider label.option {
  margin-left: -2px;
}

.block-search-form .form-item-search-provider {
  margin-top: 6px !important;
}

#block-menu-menu-secondary-menu {
  float: inherit;
}

.secondary-menu-expand {
  right: -39px;
  top: 0;
}

.user-menu-expand {
  right: 0;
  top: 57px;
}

.zone-menu-wrapper {
  margin-right: 98px;
}

.responsive-layout-mobile .zone-menu-wrapper {
  margin-top: 14px;
}

.responsive-layout-mobile .block-search-form,
.responsive-layout-mobile .region-user-first {
  z-index: 55;
}

.responsive-layout-mobile .region-header-second-inner {
  right: -39px;
  top: 35px;
}

.responsive-layout-mobile .block-ding-user-frontend-ding-username {
  right: 0;
  top: 92px;
  z-index: 49;
}

.responsive-layout-mobile .block-system-user-menu.even {
  right: 0;
  top: 123px;
}

.responsive-layout-mobile .block-user-login {
  right: 0;
  top: 93px;
}

.responsive-layout-mobile .block-user-login .block-inner .content {
  top: 31px;
}

.responsive-layout-mobile .block-ding-user-frontend-ding-user-loan-number {
  right: 0;
  top: 123px;
}

.responsive-layout-mobile .block-system-user-menu {
  right: 0;
  top: 205px;
}

.pane-page-tabs ul.primary li {
  display: block;
}

.responsive-layout-mobile.page-user-login .region-user-first {
  margin-top: 0;
}

.block-search-form .form-radios {
  clear: both;
}

#block-menu-menu-secondary-menu .menu li.expanded ul,
#edit-basic-search {
  display: none;
}

.logo-img {
  margin: 0;
}

.block-search-form form .ui-autocomplete-input {
  height: 50px;
}

.block-search-form form .form-actions input {
  height: 50px;
}

.block-search-form form .extendsearch-advanced span.fieldset-legend {
  top: 13px;
}

.search-clear-button {
  top: 19px;
}

.block-search-form form .extendsearch-advanced .fieldset-wrapper {
  top: 50px;
}

.no-js .block-ding-user-frontend-ding-username .block-inner > .content,
.no-js .block-ding-user-frontend-ding-user-loan-number,
.no-js .block-system-user-menu,
.no-js .block-ding-user-frontend-ding-user-loan-number,
.no-js .block-system-user-menu.even {
  top: 0;
}

.no-js .grid-4.region-branding,
.no-js .region-user-second {
  padding-top: 0;
}

.no-js .region-user-second {
  clear: both;
  margin-bottom: 10px;
}

.no-js .block-search-form form .extendsearch-advanced .fieldset-wrapper {
  width: 100%;
}

.no-js .block-search-form {
  height: auto;
  padding: 10px;
}

.no-js .block-user-login .block-inner .content {
  height: auto;
  overflow: hidden;
  position: relative;
}

.no-js .block-user-login .block-inner.clearfix:after {
  height: auto;
}

.no-js .block-user-login {
  overflow: hidden;
}

.block-main-menu .content > ul > li {
  padding: 0;
}

.ding_nodelist-carousel .ding_nodelist-items .item .event-date,
.ding_nodelist-single .ding_nodelist-items .item .event-date {
  top: 10px;
}

.page-ting-object .block-menu-secondary-menu .collapsed {
  height: auto;
}

.block-system-main #user-login {
  padding: 10px;
}

/* Verdana font */

.block-search-form form .extendsearch-advanced input[type="text"],
.block-search-form form input[name="search_block_form"],
.block-ding-user-frontend-ding-username h2 span,
.block-system-user-menu a,
.page-search-ting .pane-ting-search-records-per-page a,
.page-search-ting .item-list .pager a,
.page-search-ting .item-list .pager-current,
.block-search-form form .form-actions input,
.page-taxonomy-term .view-taxonomy-term .item-list .pager-current,
.page-search-node .pane-ding-node-search .item-list .pager-current,
.pane-node-comments .add-comment-button,
.node-type-ding-event .content-event-day .pane-content,
.pane-node-comment-form .username,
.node-type-ding-event .event-short-info .views-field-title a,
.node-type-ding-news .news-short-info .views-field-title a,
.pane-node-comments .comment-links li,
.pane-node-comments .comment-links li a,
.page-taxonomy-term .node-links ul li a,
.page-taxonomy-term .comment-links ul li a,
.block-user-login .block-title,
.block-user-login form .form-submit,
.block-ding-user-frontend-ding-user-loan-number > .block-inner > .content .amount,
.pane-ding-item-list .item-title,
.pane-ding-related-items .item-title,
.browsebar-inner .browsebar-item .author,
.ding_nodelist-carousel .ding_nodelist-items .more,
.ding_nodelist-single .ding_nodelist-items .item .event-date .event-day,
.ding_nodelist-horizontal_accordion .ding_nodelist-items .event .event-date .event-day,
.ding_nodelist-vertical_accordion .ding_nodelist-items .event .event-date .event-day,
.pane-ding-library-opening-hours-ding-library-opened-today .name,
.pane-ding-library-opening-hours-ding-library-opening-hours .day-name,
.pane-opening-hours-week .name,
.page-search-meta .mkdru-pager a,
.page-search-meta .mkdru-pager span,
.node-type-ding-event .event-short-info .views-field-title a,
.node-type-ding-news .news-short-info .views-field-title a,
.ding_nodelist-single .ding_nodelist-items h3,
.ding_nodelist-carousel .ding_nodelist-items h3 a,
.ding_nodelist-slider .legend h2,
.ting-search-carousel .ting-search-results .subtitle,
.page-libraries .pane-ding-library .title,
.page-libraries .pane-ding-library .title a,
.node-type-ding-library .library-teaser .title,
.node-type-ding-library .library-teaser .title a,
.node-type-ding-page .pane-node-title,
.page-taxonomy-term .pane-taxonomy-term .pane-title,
.browsebar-inner .active-item-title .active-title,
.browsebar-inner .browsebar-item .title,
.browsebar-inner .browsebar-item .author,
#block-menu-menu-secondary-menu .menu li a,
#block-locale-language ul.language-switcher-locale-url li a,
.block-main-menu .content > ul > li > a,
.page-taxonomy-term .pane-term-description .pane-title,
.node-type-ding-page .side-title,
.node-type-ding-news .news-short-info .news-title,
.node-type-ding-event .event-short-info .event-title {
  font-weight: bold;
}

#page .user-page-tabs ul.primary li a,
.block-search-form form .ui-autocomplete-input,
ul.ui-autocomplete li a.ui-corner-all,
.block-ding-user-frontend-ding-username h2 span,
.block-ding-user-frontend-ding-username h2,
.block-search-form form .extendsearch-advanced input[type="text"],
.block-search-form form input[name="search_block_form"],
.block-system-user-menu a,
.block-menu-menu-secondary-menu .menu li a,
.block-locale-language ul.language-switcher-locale-url li a,
.block-search-form form .form-item,
.ding_nodelist-horizontal_accordion .ding_nodelist-items .library a,
.block-main-menu .content,
.pane-ding-facetbrowser .form-wrapper legend span,
.pane-ding-facetbrowser .expand,
.page-search-ting .pane-ting-search-records-per-page a,
.pane-ding-availability-legend .availability-label,
.pane-search-result .search-result .field-type-ting-author,
.form-item-sort label,
.field-type-ting-collection-types,
.field-type-ting-type,
.pane-search-result .ding-format-long .field-type-ting-subjects,
.pane-search-result .search-result .group-content,
.ting-relation-ispartofmanifestation .group-content,
.page-search-ting .item-list .pager a,
.page-search-ting .item-list .pager-current,
.field-type-ding-entity-buttons .form-actions input,
.field-type-ding-entity-buttons .reservation-link-ajax a,
.field-type-ding-entity-buttons .bookmark-link-ajax a,
.field-type-ding-entity-buttons .ding-entity-button a,
.page-ting-object .field-type-ting-author,
.page-ting-collection .field-type-ting-author,
.page-ting .field-type-ding-entity-buttons .ding-entity-button a,
.page-ting-collection .field-type-ding-entity-buttons .reservation-link-ajax a,
.page-ting .sfx-link,
.page-ting-object .field-type-ding-entity-buttons input,
.page-search .sfx-link,
.page-ting-object .materials,
.page-ting-object .field-type-ting-subjects,
.block-search-form form .form-actions input,
.pane-ting-search,
.page-ting-object .pane-ting-object-ding-availability-holdings h2,
.page-ting-object .pane-ting-object-ding-availability-holdings table th,
footer .block-menu .block-title,
.block-ding-library-library-address,
.page-taxonomy-term .node,
.page-taxonomy-term .view-taxonomy-term .item-list .pager a,
.page-search-node .pane-ding-node-search .item-list .pager a,
.page-taxonomy-term .view-taxonomy-term .item-list .pager-current,
.page-search-node .pane-ding-node-search .item-list .pager-current,
.view-taxonomy-term .alphabase-pager,
.breadcrumb,
.ding_nodelist-carousel h2,
.ding_nodelist-carousel .ding_nodelist-items .category a,
.ding_nodelist-carousel .ding_nodelist-items .field-type-text-with-summary,
.ding_nodelist-horizontal_accordion .ding_nodelist-items .item .label,
.ding_nodelist-carousel .ding_nodelist-items .item .event-label,
.ding_nodelist-single .ding_nodelist-items .item .event-label,
.node-type-ding-page .pane-node-author h2,
.node-type-ding-page .pane-node-created h2,
.node-type-ding-page .pane-node-author div,
.node-type-ding-page .pane-node-created div,
.pane-ding-item-list .pane-title,
.pane-ding-related-items .pane-title,
.pane-system-main-menu ul li a,
.pane-category-menu ul li a,
.pane-ding-library-ding-sidebar-menu ul li a,
.node-type-ding-event .event-short-info .views-field-field-event-date .field-content,
.node-type-ding-event .event-short-info .views-field-field-category a,
.node-type-ding-event .event-short-info .views-field-field-event-fee,
.node-type-ding-event .content-event-day .pane-title,
.pane-node-comments .add-comment-button,
.node-type-ding-event .content-event-month,
.node-type-ding-event .content-event-day .pane-content,
.pane-node-comment-form .form-type-item label,
.pane-node-comment-form .username,
.pane-node-comment-form .form-actions input,
.node-type-ding-event .node,
.node-type-ding-event .event-short-info .views-field-title a,
.node-type-ding-news .news-short-info .views-field-title a,
.node-type-ding-event .event-short-info .views-field-group-audience a,
.pane-node-comments .comment-links li,
.pane-node-comments .comment-links li a,
.node-type-ding-news .news-short-info .views-field-field-editorial-base-n a,
.node-type-ding-news .node-ding-news,
.page-search-node .views-row,
.page-search-node .node-title a,
.page-search-node .submitted,
.page-search-node .pane-ding-node-search .field-type-group,
.page-search-node .pane-ding-node-search .field-type-text-with-summary,
.page-search-node .pane-ding-node-search .alphabase-pager,
.page-taxonomy-term .node-links ul li a,
.page-taxonomy-term .comment-links ul li a,
.block-user-login .block-title,
.block-user-login input[type="text"],
.block-user-login input[type="password"],
.block-user-login form .form-submit,
.block-ding-user-frontend-ding-user-loan-number > .block-inner > .content,
.block-ding-user-frontend-ding-user-loan-number > .block-inner > .content .amount,
.pane-user-profile .form-item,
.secondary-tabs ul.secondary li,
.pane-reservations .field-type-ting-author,
.pane-loans .field-type-ting-author,
.pane-loans thead th, .pane-loans th,
.pane-bookmarks thead th,
.pane-bookmarks th,
.pane-reservations thead th,
.pane-reservations th,
.pane-debts thead th,
.pane-debts th,
.pane-loans .operations .renew-loan-button input,
.pane-reservations .order-id,
.pane-reservations .periodical-number,
.pane-loans .order-id,
.pane-bookmarks .field-type-ting-author,
.pane-bookmarks .ding-entity-button,
.edit-user-profile label,
.field-name-field-reservation-pause .fieldset-legend,
.field-name-field-reservation-pause .fieldset-description,
.edit-user-profile .field-name-field-alma-reservation-pause .fieldset-description,
.edit-user-profile .description,
.edit-user-profile input,
#edit-account .form-text,
.edit-user-profile input,
#edit-account .form-text,
.page-user .field-widget-date-popup input[type="text"],
.page-user .field-name-field-alma-mobile-phone input[type="text"],
.page-user .field-widget-options-select select,
.ding_nodelist-taxonomy .item-details .item-body,
.pane-ding-item-list .item-title,
.pane-ding-related-items .item-title,
.pane-ding-item-list .item-author,
.pane-ding-related-items .item-author,
.reservation-link-ajax a:link,
.reservation-link-ajax a:visited,
.browsebar-inner .properties-wrapper .active-author,
.browsebar-inner .properties-wrapper .active-description,
.browsebar-inner .properties-wrapper .genre,
.browsebar-inner .browsebar-item .author,
.page-ting-collection .field-type-ding-entity-buttons .reservation-link-ajax a,
.pane-ding-item-viewer-item-viewer .ui-tabs-nav li a,
.ding_nodelist-single .ding_nodelist-items .category a,
.ding_nodelist-carousel .ding_nodelist-items .more,
.ding_nodelist-vertical_accordion .event-label,
.ding_nodelist-slider .date-created,
.ding_nodelist-slider .category a,
.ding_nodelist-slider .item,
.ding_nodelist-slider .item .field-name-field-ding-body,
.ding_nodelist-slider .item .more a,
.ding_nodelist-single .ding_nodelist-items .item .event-date .event-day,
.ding_nodelist-single .ding_nodelist-items .item .event-date .event-month,
.ding_nodelist-single .ding_nodelist-items .more a,
.ding_nodelist-carousel .pagination a,
.ding_nodelist-horizontal_accordion .ding_nodelist-items .event .event-time,
.ding_nodelist-horizontal_accordion .ding_nodelist-items .event .field-name-group-audience,
.ding_nodelist-horizontal_accordion .ding_nodelist-items .event .event-fee,
.ding_nodelist-horizontal_accordion .ding_nodelist-items .item .label,
.ding_nodelist-carousel .ding_nodelist-items .item .event-label,
.ding_nodelist-single .ding_nodelist-items .item .event-label,
.ding_nodelist-horizontal_accordion .ding_nodelist-items .event .event-date .event-month,
.ding_nodelist-vertical_accordion .ding_nodelist-items .event .event-date .event-month,
.ding_nodelist-horizontal_accordion .ding_nodelist-items .event .event-date .event-day,
.ding_nodelist-vertical_accordion .ding_nodelist-items .event .event-date .event-day,
.ding_nodelist-vertical_accordion .event-time,
.ding_nodelist-vertical_accordion .field-name-group-audience,
.ding_nodelist-vertical_accordion .event-fee,
.page-libraries .pane-ding-library,
.node-type-ding-library .library-teaser,
.pane-ding-library-opening-hours-ding-library-opened-today h2,
.pane-ding-library-opening-hours-ding-library-opening-hours h2,
.pane-opening-hours-week h2,
.pane-ding-library-opening-hours-ding-library-opened-today .name,
.pane-ding-library-opening-hours-ding-library-opening-hours .day-name,
.pane-opening-hours-week .name,
.pane-ding-library-opening-hours-ding-library-opened-today .hours,
.pane-ding-library-opening-hours-ding-library-opening-hours .hours,
.pane-opening-hours-week .times,
.browsebar-inner .properties-wrapper .reviews,
.browsebar-inner .active-more-info,
.ting-search-carousel .search-controller li a,
.ting-search-carousel .ting-search-results .info,
.ting-search-carousel .ting-search-results .info span,
.page-search-meta .mkdru-pager a,
.page-search-meta .mkdru-pager .mkdru-pager-prev,
.page-search-meta .mkdru-pager .mkdru-pager-next,
.page-search-meta .mkdru-counts,
.page-search-meta .mkdru-result-list .search-result,
.page-search-meta .mkdru-result-list .search-result .creator,
.page-search-meta .mkdru-pager span,
.page-search-meta .mkdru-result-description,
.pane-aggregator-feed li a,
.block-main-menu .content ul li ul,
.form-item-sort .form-select,
.block-main-menu .content > ul > li > a,
footer .block-menu li a,
.block-ding-library-library-address span,
.block-main-menu .content ul li ul.menu li a,
.pane-aggregator-feed .more-link a,
.pane-ding-facetbrowser label a,
.page-ting-object .field-type-ting-subjects .subject,
.page-ting-collection .field-type-ting-subjects .subject,
.node-type-ding-event.responsive-layout-mobile .left-column-data,
.node-type-ding-news.responsive-layout-mobile .news-left-column,
.responsive-layout-mobile .sidebar-menu-expand,
.responsive-layout-mobile .block-main-menu .main-menu-expand,
.responsive-layout-mobile.page-user .user-page-tabs .tabs a,
.page-ting-collection .field-name-ting-abstract,
.page-ting-object .field-name-ting-abstract,
.field-type-ting-abstract,
.page-user #user-login,
.page-user #user-login .form-submit,
.page-user #user-login input[type="text"],
.page-user #user-login input[type="password"],
.pane-ting-object-voxb-tags form .form-submit,
.pane-ting-object-voxb-tags form .form-text,
.node-type-ding-event .content-event-month,
.node-type-ding-event .event-short-info .views-field-title a,
.node-type-ding-news .news-short-info .views-field-title a,
.ding_nodelist-taxonomy .item-details .item-title,
.ding_nodelist-single .ding_nodelist-items h3,
.ding_nodelist-single .ding_nodelist-items .node .field-type-text-with-summary,
.ding_nodelist-carousel .ding_nodelist-items h3 a,
.ding_nodelist-slider .legend h2,
.pane-ding-library-opening-hours-ding-library-opened-today h2,
.pane-ding-library-opening-hours-ding-library-opening-hours h2,
.pane-opening-hours-week h2,
.pane-aggregator-feed .pane-title,
.ting-search-carousel .ting-search-results .subtitle,
.page-libraries .pane-ding-library .title,
.page-libraries .pane-ding-library .title a,
.node-type-ding-library .library-teaser .title,
.node-type-ding-library .library-teaser .title a,
.node-type-ding-page .pane-node-title,
.page-taxonomy-term .pane-taxonomy-term .pane-title,
.browsebar-inner .active-item-title .active-title,
.browsebar-inner .browsebar-item .title,
.browsebar-inner .browsebar-item .author,
.pane-page-tabs .pane-title,
.pane-user-profile .pane-title,
.pane-search-result .ding-format-long .title,
.page-ting-object .ting-relation.ting-relation-ispartofmanifestation h3,
.pane-search-result .field-type-ting-title h2,
.page-ting-object .field-type-ting-title h2,
.page-ting-collection .field-type-ting-title h2,
.page-ting-object .pane-ting-ting-object-types .pane-title,
.page-ting-object .pane-ting-ting-relation-anchors .pane-title,
.page-ting-collection .pane-ting-ting-collection-types .pane-title,
.page-ting-collection .pane-ting-ting-relation-anchors .pane-title,
.page-ting-collection .field-type-ting-series .field-label,
.page-ting-collection .field-type-ting-details-classification .field-label,
.page-ting-collection .field-type-ting-details-isbn .field-label,
.page-ting-collection .field-type-ting-details-series-description .field-label,
.pane-search-result .ding-format-long .field-type-ting-series .field-label,
.pane-search-result .ding-format-long .field-type-ting-details-type .field-label,
.pane-search-result .ding-format-long .field-type-ting-details-genre .field-label,
.pane-search-result .ding-format-long .field-type-ting-details-series-description .field-label,
.page-ting-collection .field-name-ting-subjects .field-label,
.page-ting-collection .view-mode-collection-list .field-type-ting-subjects .field-label,
.page-ting-collection .field-name-ting-details-classification .field-item,
.page-ting-collection .field-name-ting-details-isbn .field-item,
.page-ting-collection .field-name-ting-series a,
.page-ting-collection .field-name-ting-details-series-description a,
.pane-search-result .ding-format-long .field-type-ting-series a,
.pane-search-result .field-name-ting-details-series-description a,
.pane-ding-item-list .item-loan,
.pane-ding-item-list .item-loan .reservation-link-ajax a:link,
.pane-ding-item-list .item-loan .reservation-link-ajax a:visited,
.pane-ding-related-items .item-loan,
.pane-ding-related-items .item-loan .reservation-link-ajax a:link,
.pane-ding-related-items .item-loan .reservation-link-ajax a:visited,
.page-taxonomy-term .pane-term-description .pane-title,
.node-type-ding-page .side-title,
.page-ting-collection .field-type-ting-title h1,
.node-type-ding-news .news-short-info .news-title,
.node-type-ding-event .event-short-info .event-title,
.pane-category-menu .pane-title {
  font-family: Verdana, Arial, sans-serif;
}

.form-item-search-block-form.spinner-wrapper:after {
  top: 16px;
}

.page-node .node,
.pane-term-description .pane-content {
  font-size: 12px;
}

.page-user #user-login input[type="password"] {
  background-color: #a39e8f;
  border: none;
  clear: none;
  color: #000;
  font: 12px Verdana, Arial, sans-serif;
  height: 30px;
  margin: 0;
  padding: 0 5px;
  width: 60%;
}

.page-user #user-login .form-submit {
  background: none;
  border: none;
  border-radius: 0;
  color: #cc5f0a;
  font: 18px Verdana, Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-shadow: none;
}

.page-user #user-login label {
  color: #000;
  display: block;
  font-weight: normal;
  height: 30px;
  margin: 0;
  padding: 0 20px 0 0;
  text-align: left;
}

#page .block-main-menu .content ul li a {
  line-height: 29px;
  display: block;
  height: 29px;
  padding: 0 10px;
}

#region-header-second ul li {
  margin: 0;
  padding: 0;
}

#region-header-second ul li a {
  padding: 0 10px;
  line-height: 29px;
}

.ui-dialog .field-name-ting-author a,
.ui-dialog .field-name-ting-author a:link,
.ui-dialog .reservation-link-ajax a {
  color: #222;
}

.responsive-layout-mobile .ding_nodelist-slider .next,
.responsive-layout-mobile .ding_nodelist-slider .prev {
  background-image: url(../images/vert-slider-sprite-mobile.png);
}

.pay-button {
  display: none;
}
