.block-search-form form .extendsearch-advanced .fieldset-wrapper {
  width: 194px;
}

.block-main-menu .content > ul > li {
  min-width: 230px;
}

.block-search-form .form-radios {
  width: 220px;
}

.block-search-form .form-item-search-provider {
  width: 45% !important;
}

.page-user-login .region-user-first {
  margin-top: 156px;
}
