.block-search-form form .extendsearch-advanced .fieldset-wrapper {
  width: 274px;
}

.block-main-menu .content > ul > li {
  min-width: 150px;
}

.block-search-form .form-radios {
  width: 300px;
}

.block-search-form .form-item-search-provider {
  width: 33% !important;
}

input#edit-search-block-form--2.spinner {
  background-position: 79% 5px;
}

.page-user-login .region-user-first {
  margin-top: 212px;
}
