/* Theme main styles */
.sliders-div {
  background: url('../img/screen-bg.jpg') repeat-x 0 0;
  background-size: 100% auto;
  color: #252525;
  font-size: 22px;
  font-family: Verdana, Arial, sans-serif;
}

body,
#SlidersDiv,
.section-container .carousel-ct-bodycontent .teaser {
  font-size: 22px;
  font-family: Verdana, Arial, sans-serif;
  -ms-word-break: break-all;
  word-break: break-all;
}

#SlidersDiv .section-container .title {
  font-weight: bold;
  font-size: 24px;
  font-family: Verdana, Arial, sans-serif;
}

.sliders-div > .section-container:first-child {
  margin-top: 40px;
  height: 100px;
}

.sliders-div:before {
  position: absolute;
  bottom: 80px;
  left: 0;
  z-index: 9;
  display: block;
  width: 100%;
  height: 10px;
  background: url('../img/slider-bottom-bg.png') repeat-x 0 0;
  content: "-";
  text-indent: -9000px;
}

/* Header styles */
.header-ct-container {
  margin: 0 0 0 340px;
  padding: 1px 0;
  background: url('../img/header-bg.png') repeat-x 0 1px;
}

#Header {
  position: relative;
  /*
  This is an example how to define a logo
  background: url('../img/logo.png') no-repeat 85px center;
  */
  height: 72px;
}

#Header .text {
  display: block;
  margin: 0 0 0 -340px;
  padding-top: 0;
  width: 450px;
  height: 72px;
  background: url('../img/logo.png') no-repeat 0 0;
  color: #fff;
  text-indent: -9000px;
  line-height: 70px;
}

/* Search button */
.search {
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  float: right;
  margin-top: -35px;
  width: 113px;
  height: 70px;
  background: transparent url('../img/search-icon.png') no-repeat center;
}

/* Footer */
.footer-ct-container {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  padding-top: 10px;
  width: 100%;
  height: 80px;
  background: url('../img/footer-bg.png') repeat-x 0 bottom;
}

#Footer {
  margin-top: 10px;
  padding-left: 160px;
  height: 60px;
  background: url('../img/clocks-icon.png') no-repeat 85px center;
  color: #fff;
  font-size: 30px;
  line-height: 60px;
}

#Footer #countdown-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  border: 1px solid #e2e7ec;
  background: #637179;
}

/* Countdown */
.count-down-bar {
  position: absolute;
  bottom: 81px;
  left: 0;
  z-index: 10;
  overflow: hidden;
  width: 100%;
  height: 6px;
  border-top: 1px solid #494e4a;
  border-right: 1px solid #595e58;
  border-bottom: 1px solid #5b5d5a;
  border-left: 0;
  background: url('../img/slider-bg.png') repeat-x 0 0;
  text-indent: -1000em;
}

.column3.row1 div.rss-ct-container,
.footer {
  position: absolute;
  bottom: -9px;
  left: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
  height: 89px;
  background: #161107;
}

/* Horizontal ticker */
.horizontal-ticker {
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 160px;
  background: url('../img/timer.png') no-repeat 57px 15px;
  color: #fff;
  font-size: 30px;
}

.section-container.row4 {
  border: 1px solid #bac2b8;
  background-color: rgba(255, 255, 255, 0.8) !important;
  -webkit-box-shadow: 0 2px 8px 0 #6b6b6b;
  -moz-box-shadow: 0 2px 8px 0 #6b6b6b;
  box-shadow: 0 2px 5px 0 #6b6b6b;
}
